.banner-img{
   border-radius: 16px;
   background-color: #070211, #07021100;
}
.banner-container{
   position: relative;
   margin: 50px 100px;
}
.banner{
   position: absolute; 
   left: 480px;
   top: 200px;
   font-size: 50px;
   justify-content: center;
}
   
.banner-title{
   color: #000000;
   text-align: center;
   font-family: Merriweather;
   font-size: 32px; 
   margin-bottom: 16px;
}
.banner-pr{
   text-align: center;
   font-family: Merriweather; 
   font-weight: 500; 
   color: #000000;
   font-size: 72px; 
   font-weight: 900;
   line-height: 95px; 
   margin-top: 0px; 
}

.bonus-container{
    color: #F00;
    font-family: Inter;
}
.discount{
   font-size: 68px;
   font-weight: 700;
   margin-bottom: 38px;
}
.text-title{
   font-size: 18px; 
   font-weight: 500; 
   margin-top: 0px;
   margin-bottom: 0px;
}
.header-title{
   color: #070211;
   font-size: 33px; 
   font-weight: 600; 
   margin-top: 18px;
   margin-bottom: 40px;
}
.bonus-description{
   text-align: center;
}
 #img-tag{
   margin: 50px 399px 120px 399px;
   width: 750px ;
   height: 500px;
   margin-top: 0px;
 }


 .year-container{
   margin: 20px 120px 120px 120px;
 }
.section-container{
   left: 100px;
   top: 90px;
   position: absolute;
   display: flex;
}
 .year-container{
   position: relative;
}
 .section-title{
   width: 542px;
   color: #FFF;
   font-family: Merriweather;
   font-size: 54px;
   font-weight: 800;
   line-height: 58px; 
   letter-spacing: 7.04px; 
   margin-bottom: 28px;
    
 }
 .section-description{
   width: 597px;
   color: rgba(255, 255, 255, 0.80);
   font-family: Inter;
   font-size: 18px; 
   font-weight: 400;
   line-height: 30px; 

 }
 .join-now{
   color: #FFF;
   font-family: Inter;
   font-size: 18px;
   font-style: normal;
   font-weight: 600;
   text-transform: uppercase;
   margin-top: 24px;
   margin-left: 50px;

 }
 .year-2024{  
   justify-content: center;  
   margin: 0px 138px 68px 160px;

 }
 .shopping-description{
  justify-content: center; 
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px; 
  font-weight: 400;
  line-height: 32px; 
  width: 276px;
 }
 .join-container{
   background-color:peachpuff;
   width: 1320px;
   height: 482px;
   margin: 0px 120px;
   margin-bottom: 0px;

 }
 .join-section{ 
   text-align: center;
    padding-top: 100px;

 }
 .join-text{
      font-family: Inter;
      font-size: 25px;
      font-weight: 570;
      line-height: 40px; 
      text-transform: capitalize;
      margin-bottom: 50px;
 }
 .join-now{
   background-color: #F00;
   border: none;
   border-radius: 5px;
   width: 130px;
   height: 50px;
   margin-top: 0px;
 }

 .shopping-container{
  /* justify-content: space-evenly; */
   display: flex;
   background-color:peachpuff;
   width: 1320px;
   height: 482px;
   margin: 0px 120px;
   margin-top: 100px; 
 }
 .shopping-item{
   margin-top: 70px;
 }
 .shopping-title{
   color: #F00;
   font-size: 20px;
   font-weight: 400;
   margin-bottom: 7px;
 }
 .shopping-heading{
   color: #070211;
   font-family: Merriweather;
   font-size: 33px;
   font-weight: 1000;
   text-transform: capitalize;
   margin-top: 0px;
 }
 .shopping-text{
   color: rgba(7, 2, 17, 0.60);
   font-family: Inter;
   font-size: 20px; 
   font-weight: 400;
   line-height: 32px; 
 }


 .shopping-img{
   margin: 60px 0px 0px 150px ;
   width: 200px;
   height: 300px; 
   border-radius: 463px; 
   border-radius: 463px;
   border: 15px solid #F00;
   width: 363px;
  height: 363px;
 }

 .shopping-year{
   color: #F00;
   font-family: Inter;
   font-size: 20px; 
   margin-top: 100px ; 
   text-align: center;
   

 }


 .year-2024{
  color: #F00;
  font-family: Inter;
  font-size: 38px; 
  font-weight: 700; 
  margin-top: 40px;
  margin-left: 120px;
  margin-bottom: 10px; 
 }
 .shopping-text{
   width: 300px;
   color: rgba(7, 2, 17, 0.60);
   font-family: Inter;
   font-size: 20px; 
   font-weight: 400;
   line-height: 32px;  
 }
 .shopping-description{
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px; 
  font-weight: 400;
  line-height: 32px;  
  width: 276px;
  margin-left: 120px;
  margin-top: 0px;
 }
 .new-year{
   width: 90px;
   height: 90px;
 }


.holidays-container{
  width: 1320px;
  height: 1035px;
  background:peachpuff;
  justify-content: center;
  margin: 100px 120px 100px 120px;
}
.text-container{
  text-align: center;
}
.holiday-span{
  color: #070211;
font-family: Merriweather; 
}
.holiday-function{
  color: #070211;
font-family: Inter;
font-size: 18px; 
font-weight: 700; 
margin-bottom: 0px;
}

.holiday-sale{
  color: #F00;
  text-align: center;
  font-family: Merriweather;
  font-size: 60px; 
  font-weight: 900; 
  margin-top: 8px;
  margin-bottom: 0px;
}
/* .holiday-img{ 
  position: absolute;
}

.holiday-img1{
   justify-content: end;
}
.holiday-img2{

}
.holiday-img3{

}
.holiday-img4{

} */


.holiday-text{
  color: rgba(7, 2, 17, 0.60);
  /* text-align: center; */
  font-family: Inter;
  font-size: 18px; 
  font-weight: 500;
  line-height: 25px; 
  width: 600px;
  margin-left: 350px;
  margin-top: 15px;
}


 .item-container{
  margin: 50px 50px 120px 120px;

 }
  
 .image-title{
  color: #F00;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
 }
 .image-heading{
  color: #070211;
  font-family: Merriweather;
  font-size: 30px;
  font-weight: 7000;
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 18px;
 }
 .image-text{
  width: 650px;
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 0px;
 }
 .item-img{
   margin-top: 50px;

 }
 .image-all{
  margin: 5px;
 }
  
 .subscribe-container{
  width: 1320px;
  height: 516px;
  border-radius: 16px;
  background-color:peachpuff;
  margin: 0px 120px;
  position: relative;
 }
 .subscribe-list{
  position: absolute;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  margin: 110px 100px 0px 300px;
 }
 .msg-icon{
  width: 130px;
  height: 130px;
 }
 .subscribe-heading{
  color: #070211;
  font-family: Merriweather;
  font-size: 38px;
  font-weight: 1000;
  text-transform: capitalize;
 }

 .subscribe-text{
  width: 750px;
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px; 
 }
 .subscribe-form{
  margin-right: 120px;
 }
 .subscribe-email{
  width: 328px;
  height: 32px;
  border-radius: 50px 0px 0px 50px;
  background: #FFF; 
  display: inline-block;
   border: 0px;
 }
 .subscribe-btn{
  width: 120px;
  height: 34px;
  border-radius: 0px 50px 50px 0px;
  background: #F00;
  display: inline-block;
  position: absolute;
  border: 0px;
 }


 .footer-container{
  background: #070211;
  width: 1510px;
  height: 409px; 
  margin-top: 100px
 }

 .footer-div{
  padding: 100px;
 }
 .footer-div1{
  color: #FFF; 
  display: flex; 
  font-family: Inter;
  justify-content: space-between; 
 }
 .footer-div1-2{
  margin-right: 100px;
 }

.footer-description{  
  font-size: 16px; 
  font-weight: 400;   
} 
.footer-number{
  margin-bottom: 5px;
}
.footer-link{
  margin-top: 0px;
}

.footer-icon{ 
  margin-left: 580px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-img{
  width: 34px;
height: 34px; 
margin-left: 20px; 
} 
 .footer-div2{
  color: #FFF;
  display: flex;
  justify-content: space-between;
  font-family: Inter;
 }

 .footer-date{ 
  font-size: 16px;
  font-weight: 400;
 }

 .footer-btn{
  font-size: 16px; 
  font-weight: 400;  
 }